@import url('./markdown.css');
@media(min-width:1920px){
    html{
        font-size: 140px!important;
    }
}

/* 1366X768 rem
*/
::-webkit-scrollbar{
    display:none;
  }

html{
    font-size: 100px;
    text-rendering: optimizeLegibility;
}
html,body{  
    font-family:"Microsoft JhengHei","Microsoft YaHei","微软雅黑",sans-serif;    
    background-color: white;
    height: 100%;
    margin: 0 0;  
    
}
hr{
    margin: 0.4rem 0rem;
}
/*body 100vw后元素不会随滚动条变动,但会出现横向滚动*/
body{ 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow-x:hidden;
    
    /*text-shadow: 0rem 0rem 0.2rem #9c9c9c;*/
    
   }

#ajaxProgress{
    z-index: 6;
    position: fixed;
    width: 100vw;
    height: 0vh;
    left: 0;
    top: 0;
    background-color:rgba(0,0,0,0);
    transition: background-color 0.8s;
}
#main{
    transition: transform 0.2s;
    width: 10.92rem;
    min-height: 6.45rem;
    height:0vh;
    /*background-color: rgb(255, 255, 255); */ 
    position: relative;
    z-index: 1;
}

#background-box{
    background-color: #fcfcfc;
    max-width: 10.46rem;
    min-width:10rem;
    min-height: 2.70rem;
    max-height: 2.70rem;
    position: absolute;
    
}


/*导航*/
#navigation{
    padding-left: 1.40rem;
    height: 1.20rem;
    width: 1.00vw;
    z-index: 2;
    background-color:#fff; 
    position: fixed;
    transform:translateY(0rem);
    transition: transform 0.2s;
}
#navigation ul{
    display: flex;
    height: 1.20rem;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 6.50rem;
    background-color: #fff;
}
.nav-block{
    z-index: 5;
    position: absolute;
    display: block;
    width: 0.20rem;
    height: 0.04rem;
    margin-top: 0.14rem;
    margin-left: 0.65rem;
    background-color: black;
    transition: margin-left 0.4s;
}
#navigation>ul li{
    width: 1.30rem;
   
    display: flex;
    padding-top: 0.40rem;
    flex-direction: column;
    
    align-items: center;
}

.nav-span{
    font-size: 0.12rem;
    margin-top: 0rem;
    margin-left: -0.40rem;
    color: #7f7f7f;
    opacity:0;
    transition: margin-top 0.2s,opacity 0.2s;
}

#navigation>ul li:hover div.nav-span{
    opacity:1;
    margin-top: 0.10rem;

}

#navigation>ul> li a{
    cursor: pointer;
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.22rem;
}
#navigation>ul> li:hover{
    background-color: rgb(255, 255, 255);
    color: white;
}


/* height: 350rem;*/
#allContext{
    margin-top: 1.20rem;
    background-color:rgb(255, 255, 255); 

}


/*---------首页动画+内容--------------*/
#h{
    height: 100%;
    width: 50%;
    background-color: #fff;
    margin-left: 4.00rem
}

#s{
    z-index: 4;
    position: absolute;
    margin-top: 3.00rem;
    margin-left: 4.00rem;
}

#triangle,#triangleRGB,#gray,#line{
  position: absolute;
  
}
#triangle{
 z-index: 3;
 margin-left: -0.205rem;
 margin-top: -0.03rem;
 
}
#triangleRGB{
    z-index: 2
}
#gray{
z-index: 1;
margin-left: 0.50rem;
margin-top: 0.12rem;
}


/*----------*/
#Personal{
    margin-top: 0.6rem;
    position: absolute;
}

#logo::after{
    display: block;
    position: absolute;
    content: '';
    width: 0.10rem;
    height: 0.04rem;
    background-color: black;
    margin-top: -0.32rem;
    margin-left: 0.90rem;
}
#name,#year,#say{
    font-size: 0.16rem;
}
#name{
    margin-top: 0.24rem;
    font-weight: bold;
}
#year{
    margin-top: 0.15rem;
}
#say{
    margin-top: -0.06rem;
}
#link{
    margin-top: 0.24rem;
    display: flex;
}
#github,#more,#mail{
    width: 0.30rem;
    height: 0.30rem;
}
#github{
    border-radius: 0.20rem;
    background-color: #70a0db;
}
#github>a{
    position: absolute;
    width: 0.30rem;
    height: 0.30rem;
}
#github>img{
    margin-left: 0.004rem;
    position: absolute;
    width: 0.30rem;
    height: 0.30rem;
}
#meow{
    position: absolute;
    border-radius: 0.04rem;
    display: block;
    width: 0.20rem;
    height: 0.20rem;
    margin-top: 0.30rem;
    margin-left: 0.04rem;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 0.14rem;
    opacity: 0;
    text-align: center;
    justify-content: center;
    transform: scale(0,0) translateY(0);
    transition: transform 0.2s;
    
}
#meow::before{
    position: absolute;
    margin-top: -0.09rem;
    margin-left: 0.05rem;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-radius: 0.05rem;
    border-top: 0.05rem solid transparent;
    border-left: 0.05rem solid transparent;
    border-right: 0.05rem solid transparent;
    border-bottom: 0.05rem solid black;
    
}
#more{
    border-radius: 0.20rem;
    margin-left: 0.16rem;
    background-color: #fcab1d; 
    
}
#more>img,#more>a{
    position: absolute;
    width: 0.30rem;
    height: 0.30rem;
}
#mail{
    border-radius: 0.20rem;
    margin-left: 0.16rem;
    background-color: #fc1d1d;
}
#atMe{
    position: absolute;
    border-radius: 0.04rem;
    display: block;
    padding: 0.01rem 0.02rem;
    margin-top: 0.30rem;
    margin-left: 0.04rem;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 0.14rem;
    opacity: 0;
    text-align: center;
    justify-content: center;
    transform: scale(0,0) translateY(0);
    transition: transform 0.2s;
    
}
#atMe::before{
    position: absolute;
    margin-top: -0.09rem;
    margin-left: 0.05rem;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-radius: 0.05rem;
    border-top: 0.05rem solid transparent;
    border-left: 0.05rem solid transparent;
    border-right: 0.05rem solid transparent;
    border-bottom: 0.05rem solid black;
    
}
#mail>img,#mail>a{
    position: absolute;
    width: 0.30rem;
    height: 0.30rem;
}

/*keyfranme_动画*/
#L_1{ transform-origin: 0.10rem 0.10rem;}
#L_2{ transform-origin: 0.20rem 0.10rem;}
#head{transform-origin: 0.15rem 0.22rem;} /**/
#L_3{ transform-origin: 0.13rem 0.24rem;}
#body{transform-origin: 0.15rem 0.31rem;}
#mouth{opacity: 0}

/*github*/
@keyframes githubIcon_head{
    0%{transform: scale(1,1)}
    50%{transform: scale(1,1.1)}
    100%{transform: scale(1,1)} 
}
@keyframes githubIcon_L_1 { 
    0%{transform: rotate(0deg)}
    50%{transform: rotate(30deg)}
    100%{transform: rotate(0deg)} 
}
@keyframes githubIcon_L_2 {
    0%{transform: rotate(0deg)}
    50%{transform: rotate(60deg)}
    100%{transform: rotate(0deg)} 
}
@keyframes githubIcon_L_3 {
    0%{transform: rotate(0deg)}
    50%{transform: rotate(-20deg)}
    100%{transform: rotate(0deg)} 
}

@keyframes mouth{
    0%{transform: scale(0,1);opacity: 1}
    50%{transform: scale(1,1);opacity: 1}
    100%{transform: scale(0,1);opacity: 1} 
}

#github:hover #meow{
    transform: scale(1,1) translateY(0.10rem);
    opacity: 0.5;
}
#github:hover #head{
    animation:githubIcon_head 0.7s ease-in-out;
    animation-iteration-count: 1;
}
#github:hover #L_1{
    animation:githubIcon_L_1 0.2s 0.8s;
    animation-iteration-count: 1;
}
#github:hover #L_2{
    animation:githubIcon_L_2 0.2s 1s;
    animation-iteration-count: 1;
}
#github:hover #L_3{
    animation:githubIcon_L_3 1s ease-in-out;
    animation-iteration-count: 1;
}
#github:hover #mouth{
    animation:mouth 1s ease-in-out;
    animation-iteration-count: 1;
}

/*more*/
#M_1{transform-origin: 0.11rem 0.11rem}
#M_2{transform-origin: 0.19rem 0.11rem}
#M_3{transform-origin: 0.19rem 0.19rem}
#M_4{transform-origin: 0.11rem 0.19rem}

@keyframes M_1{
    0%{transform: translatX(0,0) rotate(0deg)}
    12.5%{transform: translate(0) rotate(45deg)}
    25%{transform:translate(0) rotate(45deg)}
    37.5%{ttransform: translate(0.04rem,0) rotate(45deg)}
    50%{transform: translate(0.04rem,0) rotate(45deg)}
    62.5%{transform: translate(0.04rem,-0.02rem) rotate(45deg)}
    75%{transform: translate(0.04rem,-0.02rem) rotate(45deg)}
    87.5%{transform: translate(0.04rem,-0.01rem) rotate(45deg)}
    100%{transform: translate(0,0) rotate(0deg)}
}
@keyframes M_2{
    0%{transform: translatX(0,0) rotate(0deg)}
    12.5%{transform: translate(0) rotate(45deg)}
    25%{transform:translate(0) rotate(45deg)}
    37.5%{ttransform: translate(0,0.04rem) rotate(45deg)}
    50%{transform: translate(0rem,0.04rem) rotate(45deg)}
    62.5%{transform: translate(0.02rem,0.04rem) rotate(45deg)}
    75%{transform: translate(0.02rem,0.04rem) rotate(45deg)}
    87.5%{transform: translate(0.01rem,0.04rem) rotate(45deg)}
    100%{transform: translate(0,0) rotate(0deg)}
}
@keyframes M_3{
    0%{transform: translatX(0,0) rotate(0deg)}
    12.5%{transform: translate(0) rotate(45deg)}
    25%{transform:translate(0) rotate(45deg)}
    37.5%{ttransform: translate(-0.04rem,0) rotate(45deg)}
    50%{transform: translate(-0.04rem,0) rotate(45deg)}
    62.5%{transform: translate(-0.04rem,0.02rem) rotate(45deg)}
    75%{transform: translate(-0.04rem,0.02rem) rotate(45deg)}
    87.5%{transform: translate(-0.04rem,0.01rem) rotate(45deg)}
    100%{transform: translate(0,0) rotate(0deg)}
}
@keyframes M_4{
    0%{transform: translatX(0,0) rotate(0deg)}
    12.5%{transform: translate(0) rotate(45deg)}
    25%{transform:translate(0rem) rotate(45deg)}
    37.5%{ttransform: translate(0,-0.04rem) rotate(45deg)}
    50%{transform: translate(0rem,-0.04rem) rotate(45deg)}
    62.5%{transform: translate(-0.02rem,-0.04rem) rotate(45deg)}
    75%{transform: translate(-0.02rem,-0.04rem) rotate(45deg)}
    87.5%{transform: translate(-0.01rem,-0.04rem) rotate(45deg)}
    100%{transform: translate(0rem,0rem) rotate(0deg)}
}

#more:hover #M_1{
    animation:M_1 1.4s ease-in-out 0s;
    animation-iteration-count: 1;
}
#more:hover #M_2{
    animation:M_2 1.4s ease-in-out 0s;
    animation-iteration-count: 1;
}
#more:hover #M_3{
    animation:M_3 1.4s ease-in-out 0s;
    animation-iteration-count: 1;
}
#more:hover #M_4{
    animation:M_4 1.4s ease-in-out 0s;
    animation-iteration-count: 1;
}

/*mail*/
@keyframes block{
    0%{transform: scale(1,1)}
    33%{transform: scale(0.5,1.4)}
    66%{transform: scale(1.4,0.5)}
    100%{transform: scale(1,1)}
}
@keyframes line {
    0%{transform: scale(1,1)}
    33%{transform: scale(1.4,0.8)}
    66%{transform: scale(0.8,1.4)}
    100%{transform: scale(1,1)}
}
#mail:hover #block{
    animation:block 1s ease-in-out 0s;
    animation-iteration-count: 1;
}
#mail:hover #line{
    animation:line 1s ease-in-out 0s;
    animation-iteration-count: 1;
}
#mail:hover #atMe{
    transform: scale(1,1) translateY(0.10rem);
    opacity: 0.5;
}


/*最后的post*/
/*通过translateZ开启GPU较少旋转后的锯齿*/
#lastPost{
    font-size: 0.16rem;
    transform-origin: 0 0;
    position: absolute;
    transform: rotate(90deg) translateZ(0);
    margin-top: 0.82rem;
    margin-left: 10.35rem
}
#lastPost span:nth-child(1){
    font-size: 0.16rem;
    font-weight: bold;
}
#lastPost span:nth-child(3){
    opacity: 0.1
}
#lastPost > span:nth-child(3){
    width: 2rem;
    display: block;
    position: absolute;
}

#lastPost::before {
    content: '';
    display:inline-block;
    width: .20rem;
    height: .10rem;
    background-color: red;
    position: absolute;
    margin-left: -.20rem;
    margin-top: -.20rem
}
/**/
/**/
#allContext{
    opacity: 0;
    animation: opacityTwo ease 1s;
    animation-fill-mode: forwards;
}
@keyframes opacityTwo{
    from{opacity: 0}
    to{opacity: 1}
}


/*eassay 随笔----------------*/
#foot{
    position: absolute;
    z-index: 5;
    transform: translateY(3.50rem)
}
#essay{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    width: 10.92rem;
    background-color: white;
}
#essayLeft{
   /* padding-left:0.96rem;*/
    width: 7.20rem;
}
#essayLeft li{
    font-size: 0.14rem;
    list-style: none; 
    padding-bottom: 0.28rem;
    border-bottom: 0.01rem solid rgba(0, 0, 0, 0.03);
    margin-bottom:0.30rem;
    
}

#essayLeft > ul {
    font-size: 0;
}
#essayLeft > ul > li{
    display: flex;
}
#essayLeft > ul > li h3{
    line-height: .28rem;
    margin-top: 0.3em;
    margin-bottom: 0em;
}
#essayLeft > ul > li:hover h3 {
    
}


#essayText > div:nth-child(1) > h3:nth-child(1),#essayText > div:nth-child(1) > h3:nth-child(2){
    font-size: 1.68em;
    font-weight: 600;
}

#essayLeft > ul:nth-child(1) > li:nth-child(1){
    margin-top: 0.40rem;
}
.essay-title {
    font-size:0.24rem;
    letter-spacing:0rem;
    cursor: pointer;
    margin-top: 0;
    font-weight: 600;
    
}

#essayLeft > ul > li > p{  
    font-weight: lighter;
    cursor: text;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
#essayText > div:nth-child(1) > p{
    font-size: 0.18rem;
}
.essay-context{
    width: 6.80rem;
    margin-top: 0.20rem;
}
#essayText > div > h3.essay-title{
    margin-top: 0.30rem;
    margin-bottom: 0.10rem;
}

._banner + h3 + span + span + div.essay-context,
._banner + h3,
._banner + h3 + span._date
{
    margin-left: calc(50vw - 3.40rem);
}
.preview-img{
    background-size:cover;
    background-color: red;
    margin-right: 0.40rem;
    min-width:3.40rem;
    height: 1.20rem;
    background-position: center; 
}
.summary{
    display: none;
    color: #aeaeae;
    font-size: 1.4em;
    font-weight: lighter;
}
.summary > p{
    margin-top: 0;
}
._banner{
    background-size:cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    top:0;
    left: 0;
    width: 100vw;
    height:3.00rem;
    background-position: center;
    background-color:rgb(241, 241, 241);
    
}

._youtube{
    border-radius:0.06rem;
    background-color:rgb(241, 241, 241)
}

._date,._updated{
    letter-spacing: 0.02rem;
}
._date,._tags,._updated{
    
    font-size: 0.16rem;
    color: #bababa;
    font-weight: lighter;
}
._tags{
    margin-left: 0.20rem;
    width: 1.60rem;
}



._updated{
    display: none;
    color: #fff;
    transition: color 0.2s;
}
._updated:hover{
    color: #9c9c9c;
}

._date::before,._tags::before{
    width:0.19rem;
    height: 0.19rem;
    display: flex;
}
.date::before{
  /*  content: url('/public/icon/essay/date.svg');*/
}
._tags::before{
   /* content: url('/public/icon/essay/folder.svg');*/
}


#essayRight{
    display: none;
    position: fixed;
    width: 1.96rem;
    height: 4.00rem;
    background-color: #f7f7f7;
    margin-left: 8.60rem;
}

#essayText {
    background-color: rgba(255, 255, 255,0.94);
    width: 100vw;/*900*/
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: row-reverse;
    font-size: 0.18rem;
    font-weight: lighter;
    justify-content: center;
   
}

#essayText h3{
    margin-top: 2.4em;
}

#essayClose{
    background-color: rgba(255, 255, 255, 0.39);
    cursor: pointer;
    position: fixed;
    width: 0.50rem;
    height: 0.50rem;
    top:0.63rem;
    right: 0.50rem;
    background-image: url('/icon/essay/close.svg');
    transform: scale(0,0);
    transition:transform 0.4s;
}


/*换页*/
#pages > ul{
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: opacity 0.5s;
    margin: 0.2rem 0 0.2rem 0;
}

.onPage{
    background-color: black;
    color: white;
}
#pages > ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    width: 0.30rem;
    height: 0.30rem;
    border:0.01rem solid black;
    margin-right: 0.10rem;
    transition: background-color 0.5s,color 0.5s;
}

#pages > ul > li:hover{
    color:white;
    background-color: black;
}

/*otherInfo*/
#otherInfo{
    display: none;
    width: 100vw;
    height:1.20rem;
    background-color: black;
    position: absolute;
    left: 0;
    top:0;
    margin-top: 100vh;
    
}


/*gallery*/
@media screen and (min-width: 1600px){
    #gallery{ column-count: 4!important;}
}
@media screen and (min-width: 1800px){
    #gallery{ column-count: 5!important;}
}
#gallery{
    min-height: 3.45rem;
    background-color: rgb(255, 255, 255);
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0;
    max-width: 2000px;
    min-width: 10.92rem;
    padding-top: 0.2rem;
    position: absolute;
    column-count: 3;
    column-gap: 20px;
}
.gallery-preview{
    outline: none!important;
    width: 100%;
    
}
.gallery-link{
    cursor: zoom-in;
    display:inline-block;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 0 0px 1px #f6f6f6;
}
.gallery-overlay{
    display: block;
    background-color: rgba(0, 0, 0, 0.445);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
}
.gallery-link:hover > div.gallery-overlay{
    opacity: 1;
}

.gallery-text{
    color: white;
    display: block;
    height: 20px;
    font-size: 20px;
    font-weight: lighter;
    padding: .40rem .40rem;
    text-align: left;
}

.gallery-num{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.44);
    position: absolute;
    font-size: 14px;
    color: #ffffffb3;
    padding: 4px 4px;
    text-align: center;
}