@import url('./markdown.css');
 @import url('./mixxopost.css');
 @media screen and (min-width: 920px) {
	 #main {
		 margin-top: calc((100vh - 6.45rem - 0.8rem)/2);
	}
	 #background-box {
		 margin-top: calc((100vh - 2.70rem - 0.8rem)/2);
	}
	 #essayText div ._banner {
		 margin-top: calc((6.45rem + 0.8rem - 100vh) / 2);
	}
	 #essayText div h1.essay-title {
		 margin-top: 1.4rem;
	}
	 #essayText div ._banner + h1.essay-title {
		 margin-top: 0.3rem;
	}
}
 @media screen and (min-width: 1600px) {
	 html {
		 font-size: 112px !important;
	}
	 html body #footer {
		 margin-bottom: 0;
	}
}
 @media screen and (min-width: 2000px) {
	 html {
		 font-size: 120px !important;
	}
}
 @media screen and (min-width: 2200px) {
	 html {
		 font-size: 128px !important;
	}
}
 @media screen and (min-width: 2500px) {
	 html {
		 font-size: 138px !important;
	}
}
 @media screen and (min-width: 2800px) {
	 html {
		 font-size: 140px !important;
	}
}
 @media screen and (min-width: 3200px) {
	 html {
		 font-size: 180px !important;
	}
}
 @media screen and (min-width: 4000px) {
	 html {
		 font-size: 200px !important;
	}
}
/* 1366X768 rem */
 ::-webkit-scrollbar {
	 display: none;
}
 html {
	 font-size: 100px;
	 font-family: "Segoe UI", "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif;
	 height: 100%;
	 margin: 0 0;
	 display: flex;
}
 *, *::before, *::after {
	 box-sizing: border-box;
}
 body {
	 margin: 0 0;
}
 .html-color {
	/* background-color: rgb(44, 44, 44);
	 */
}
 hr {
	 margin: 0.4rem 0rem;
}
/*body 100vw后元素不会随滚动条变动,但会出现横向滚动*/
 body {
	 -webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 display: flex;
	 justify-content: center;
	 width: 100vw;
	 overflow-x: hidden;
	/*text-shadow: 0rem 0rem 0.2rem #9c9c9c;
	*/
}
 #ajaxProgress {
	 z-index: 6;
	 position: fixed;
	 width: 100vw;
	 height: 0vh;
	 left: 0;
	 top: 0;
	 background-color: rgba(0, 0, 0, 0);
	 transition: background-color 0.8s;
}
 #main {
	 transition: transform 0.2s;
	 width: 10.92rem;
	 min-height: 6.45rem;
	 height: 0vh;
	/*background-color: rgb(255, 255, 255);
	 */
	 position: relative;
	 z-index: 1;
}
 #background-box {
	 background-color: #fcfcfc;
	 max-width: 10.46rem;
	 min-width: 10rem;
	 min-height: 2.7rem;
	 max-height: 2.7rem;
	 position: absolute;
}
/*导航*/
 #navigation {
	 padding-left: 1.4rem;
	 height: 1.2rem;
	 width: 1vw;
	 z-index: 2;
	 background-color: #fff;
	 position: absolute;
	 transform: translateY(0rem);
	 transition: transform 0.2s;
}
 #navigation ul {
	 display: flex;
	 height: 1.2rem;
	 flex-direction: row;
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 6.5rem;
	 background-color: #fff;
}
 .nav-block {
	 z-index: 5;
	 position: absolute;
	 display: block;
	 width: 0.2rem;
	 height: 0.04rem;
	 margin-top: 0.14rem;
	 margin-left: 0.65rem;
	 background-color: black;
	 transition: margin-left 0.4s;
}
 #navigation > ul li {
	 width: 1.3rem;
	 display: flex;
	 padding-top: 0.4rem;
	 flex-direction: column;
	 align-items: center;
}
 .nav-span {
	 font-size: 0.12rem;
	 margin-top: 0rem;
	 margin-left: -0.4rem;
	 color: #7f7f7f;
	 opacity: 0;
	 transition: margin-top 0.2s, opacity 0.2s;
}
 #navigation > ul li:hover div.nav-span {
	 opacity: 1;
	 margin-top: 0.1rem;
}
 #navigation > ul > li a {
	 cursor: pointer;
	 display: block;
	 color: #000;
	 text-decoration: none;
	 font-weight: bold;
	 font-size: 0.22rem;
}
 #navigation > ul > li:hover {
	 background-color: #fff;
	 color: white;
}
/* height: 350rem;
*/
 #allContext {
	 margin-top: 1.2rem;
	 background-color: #fff;
}
 @keyframes logo_other {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 #logo_other {
	 opacity: 1;
	 position: absolute;
	 right: 0;
	 animation: logo_other 0.6s;
	 z-index: 4;
	 margin-top: -1.55rem;
	 display: block;
	 transform: scale(0.5, 0.5);
}
 #logo_other > span:nth-child(1) {
	 font-size: 0.4rem;
	 font-weight: bold;
}
 #logo_other > span:nth-child(2) {
	 font-size: 0.3rem;
	 font-weight: lighter;
	 display: block;
	 color: #e7e7e7;
}
/*---------首页动画+内容--------------*/
 #h {
	 height: 100%;
	 width: 50%;
	 background-color: #fff;
	 margin-left: 4rem;
}
 #s {
	 z-index: 4;
	 position: absolute;
	 margin-top: 3rem;
	 margin-left: 4rem;
}
 #triangle, #triangleRGB, #gray, #line {
	 position: absolute;
}
 #triangle {
	 z-index: 3;
	 margin-left: -0.205rem;
	 margin-top: -0.03rem;
}
 #triangleRGB {
	 z-index: 2;
}
 #gray {
	 z-index: 1;
	 margin-left: 0.5rem;
	 margin-top: 0.12rem;
}
/*----------*/
 #Personal {
	 margin-top: 0.6rem;
	 position: absolute;
}
 #img::after {
	 display: block;
	 position: absolute;
	 content: '';
	 width: 0.1rem;
	 height: 0.04rem;
	 background-color: black;
	 margin-top: -0.32rem;
	 margin-left: 0.9rem;
}
 #name, #year, #say {
	 font-size: 0.16rem;
}
 #name {
	 font-weight: bold;
}
 #year {
	 margin-top: 0.15rem;
}
 #say {
	 margin-top: -0.06rem;
}
 #link {
	 margin-top: 0.24rem;
	 display: flex;
}
 #github, #more, #mail {
	 width: 0.3rem;
	 height: 0.3rem;
}
 #github {
	 border-radius: 0.2rem;
	 background-color: #70a0db;
}
 #github > a {
	 position: absolute;
	 width: 0.3rem;
	 height: 0.3rem;
}
 #github > img {
	 margin-left: 0.004rem;
	 position: absolute;
	 width: 0.3rem;
	 height: 0.3rem;
}
 #meow {
	 position: absolute;
	 border-radius: 0.04rem;
	 display: block;
	 width: 0.2rem;
	 height: 0.2rem;
	 margin-top: 0.3rem;
	 margin-left: 0.04rem;
	 background-color: #000;
	 color: white;
	 font-size: 0.14rem;
	 opacity: 0;
	 text-align: center;
	 justify-content: center;
	 transform: scale(0, 0) translateY(0);
	 transition: transform 0.2s;
}
 #meow::before {
	 position: absolute;
	 margin-top: -0.09rem;
	 margin-left: 0.05rem;
	 content: '';
	 display: block;
	 width: 0;
	 height: 0;
	 border-radius: 0.05rem;
	 border-top: 0.05rem solid transparent;
	 border-left: 0.05rem solid transparent;
	 border-right: 0.05rem solid transparent;
	 border-bottom: 0.05rem solid black;
}
 #more {
	 border-radius: 0.2rem;
	 margin-left: 0.16rem;
	 background-color: #fcab1d;
}
 #more > img, #more > a {
	 position: absolute;
	 width: 0.3rem;
	 height: 0.3rem;
}
 #mail {
	 border-radius: 0.2rem;
	 margin-left: 0.16rem;
	 background-color: #fc1d1d;
}
 #atMe {
	 position: absolute;
	 border-radius: 0.04rem;
	 display: block;
	 padding: 0.01rem 0.02rem;
	 margin-top: 0.3rem;
	 margin-left: 0.04rem;
	 background-color: #000;
	 color: white;
	 font-size: 0.14rem;
	 opacity: 0;
	 text-align: center;
	 justify-content: center;
	 transform: scale(0, 0) translateY(0);
	 transition: transform 0.2s;
}
 #atMe::before {
	 position: absolute;
	 margin-top: -0.09rem;
	 margin-left: 0.05rem;
	 content: '';
	 display: block;
	 width: 0;
	 height: 0;
	 border-radius: 0.05rem;
	 border-top: 0.05rem solid transparent;
	 border-left: 0.05rem solid transparent;
	 border-right: 0.05rem solid transparent;
	 border-bottom: 0.05rem solid black;
}
 #mail > img, #mail > a {
	 position: absolute;
	 width: 0.3rem;
	 height: 0.3rem;
}
/*keyfranme_动画*/
 #L_1 {
	 transform-origin: 0.1rem 0.1rem;
}
 #L_2 {
	 transform-origin: 0.2rem 0.1rem;
}
 #head {
	 transform-origin: 0.15rem 0.22rem;
}
/**/
 #L_3 {
	 transform-origin: 0.13rem 0.24rem;
}
 #body {
	 transform-origin: 0.15rem 0.31rem;
}
 #mouth {
	 opacity: 0;
}
/*github*/
 @keyframes githubIcon_head {
	 0% {
		 transform: scale(1, 1);
	}
	 50% {
		 transform: scale(1, 1.1);
	}
	 100% {
		 transform: scale(1, 1);
	}
}
 @keyframes githubIcon_L_1 {
	 0% {
		 transform: rotate(0deg);
	}
	 50% {
		 transform: rotate(30deg);
	}
	 100% {
		 transform: rotate(0deg);
	}
}
 @keyframes githubIcon_L_2 {
	 0% {
		 transform: rotate(0deg);
	}
	 50% {
		 transform: rotate(60deg);
	}
	 100% {
		 transform: rotate(0deg);
	}
}
 @keyframes githubIcon_L_3 {
	 0% {
		 transform: rotate(0deg);
	}
	 50% {
		 transform: rotate(-20deg);
	}
	 100% {
		 transform: rotate(0deg);
	}
}
 @keyframes mouth {
	 0% {
		 transform: scale(0, 1);
		 opacity: 1;
	}
	 50% {
		 transform: scale(1, 1);
		 opacity: 1;
	}
	 100% {
		 transform: scale(0, 1);
		 opacity: 1;
	}
}
 #github:hover #meow {
	 transform: scale(1, 1) translateY(0.1rem);
	 opacity: 0.5;
}
 #github:hover #head {
	 animation: githubIcon_head 0.7s ease-in-out;
	 animation-iteration-count: 1;
}
 #github:hover #L_1 {
	 animation: githubIcon_L_1 0.2s 0.8s;
	 animation-iteration-count: 1;
}
 #github:hover #L_2 {
	 animation: githubIcon_L_2 0.2s 1s;
	 animation-iteration-count: 1;
}
 #github:hover #L_3 {
	 animation: githubIcon_L_3 1s ease-in-out;
	 animation-iteration-count: 1;
}
 #github:hover #mouth {
	 animation: mouth 1s ease-in-out;
	 animation-iteration-count: 1;
}
/*more*/
 #M_1 {
	 transform-origin: 0.11rem 0.11rem;
}
 #M_2 {
	 transform-origin: 0.19rem 0.11rem;
}
 #M_3 {
	 transform-origin: 0.19rem 0.19rem;
}
 #M_4 {
	 transform-origin: 0.11rem 0.19rem;
}
 @keyframes M_1 {
	 0% {
		 transform: translatX(0, 0) rotate(0deg);
	}
	 12.5% {
		 transform: translate(0) rotate(45deg);
	}
	 25% {
		 transform: translate(0) rotate(45deg);
	}
	 37.5% {
		 ttransform: translate(0.04rem, 0) rotate(45deg);
	}
	 50% {
		 transform: translate(0.04rem, 0) rotate(45deg);
	}
	 62.5% {
		 transform: translate(0.04rem, -0.02rem) rotate(45deg);
	}
	 75% {
		 transform: translate(0.04rem, -0.02rem) rotate(45deg);
	}
	 87.5% {
		 transform: translate(0.04rem, -0.01rem) rotate(45deg);
	}
	 100% {
		 transform: translate(0, 0) rotate(0deg);
	}
}
 @keyframes M_2 {
	 0% {
		 transform: translatX(0, 0) rotate(0deg);
	}
	 12.5% {
		 transform: translate(0) rotate(45deg);
	}
	 25% {
		 transform: translate(0) rotate(45deg);
	}
	 37.5% {
		 ttransform: translate(0, 0.04rem) rotate(45deg);
	}
	 50% {
		 transform: translate(0rem, 0.04rem) rotate(45deg);
	}
	 62.5% {
		 transform: translate(0.02rem, 0.04rem) rotate(45deg);
	}
	 75% {
		 transform: translate(0.02rem, 0.04rem) rotate(45deg);
	}
	 87.5% {
		 transform: translate(0.01rem, 0.04rem) rotate(45deg);
	}
	 100% {
		 transform: translate(0, 0) rotate(0deg);
	}
}
 @keyframes M_3 {
	 0% {
		 transform: translatX(0, 0) rotate(0deg);
	}
	 12.5% {
		 transform: translate(0) rotate(45deg);
	}
	 25% {
		 transform: translate(0) rotate(45deg);
	}
	 37.5% {
		 ttransform: translate(-0.04rem, 0) rotate(45deg);
	}
	 50% {
		 transform: translate(-0.04rem, 0) rotate(45deg);
	}
	 62.5% {
		 transform: translate(-0.04rem, 0.02rem) rotate(45deg);
	}
	 75% {
		 transform: translate(-0.04rem, 0.02rem) rotate(45deg);
	}
	 87.5% {
		 transform: translate(-0.04rem, 0.01rem) rotate(45deg);
	}
	 100% {
		 transform: translate(0, 0) rotate(0deg);
	}
}
 @keyframes M_4 {
	 0% {
		 transform: translatX(0, 0) rotate(0deg);
	}
	 12.5% {
		 transform: translate(0) rotate(45deg);
	}
	 25% {
		 transform: translate(0rem) rotate(45deg);
	}
	 37.5% {
		 ttransform: translate(0, -0.04rem) rotate(45deg);
	}
	 50% {
		 transform: translate(0rem, -0.04rem) rotate(45deg);
	}
	 62.5% {
		 transform: translate(-0.02rem, -0.04rem) rotate(45deg);
	}
	 75% {
		 transform: translate(-0.02rem, -0.04rem) rotate(45deg);
	}
	 87.5% {
		 transform: translate(-0.01rem, -0.04rem) rotate(45deg);
	}
	 100% {
		 transform: translate(0rem, 0rem) rotate(0deg);
	}
}
 #more:hover #M_1 {
	 animation: M_1 1.4s ease-in-out 0s;
	 animation-iteration-count: 1;
}
 #more:hover #M_2 {
	 animation: M_2 1.4s ease-in-out 0s;
	 animation-iteration-count: 1;
}
 #more:hover #M_3 {
	 animation: M_3 1.4s ease-in-out 0s;
	 animation-iteration-count: 1;
}
 #more:hover #M_4 {
	 animation: M_4 1.4s ease-in-out 0s;
	 animation-iteration-count: 1;
}
/*mail*/
 @keyframes block {
	 0% {
		 transform: scale(1, 1);
	}
	 33% {
		 transform: scale(0.5, 1.4);
	}
	 66% {
		 transform: scale(1.4, 0.5);
	}
	 100% {
		 transform: scale(1, 1);
	}
}
 @keyframes line {
	 0% {
		 transform: scale(1, 1);
	}
	 33% {
		 transform: scale(1.4, 0.8);
	}
	 66% {
		 transform: scale(0.8, 1.4);
	}
	 100% {
		 transform: scale(1, 1);
	}
}
 #mail:hover #block {
	 animation: block 1s ease-in-out 0s;
	 animation-iteration-count: 1;
}
 #mail:hover #line {
	 animation: line 1s ease-in-out 0s;
	 animation-iteration-count: 1;
}
 #mail:hover #atMe {
	 transform: scale(1, 1) translateY(0.1rem);
	 opacity: 0.5;
}
/*最后的post*/
/*通过translateZ开启GPU较少旋转后的锯齿*/
 #lastPost {
	 font-size: 0.16rem;
	 transform-origin: 0 0;
	 position: absolute;
	 transform: rotate(90deg) translateZ(0);
	 margin-top: 0.82rem;
	 margin-left: 10.35rem;
}
 #lastPost span:nth-child(1) {
	 font-size: 0.16rem;
	 font-weight: bold;
}
 #lastPost span:nth-child(3) {
	 opacity: 0.1;
}
 #lastPost > span:nth-child(3) {
	 width: 2rem;
	 display: block;
	 position: absolute;
}
 #lastPost::before {
	 content: '';
	 display: inline-block;
	 width: 0.2rem;
	 height: 0.1rem;
	 background-color: red;
	 position: absolute;
	 margin-left: -0.2rem;
	 margin-top: -0.2rem;
}
/**/
/**/
/*eassay 随笔----------------*/
 #foot {
	 position: absolute;
	 z-index: 9;
	 top: 0;
	 transform: translateY(4.7rem);
}
 #essay {
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 width: 10.92rem;
	 background-color: white;
}
 #essayLeft {
	/* padding-left:0.96rem;
	*/
	 width: 6.4rem;
}
 #essayLeft li {
	 font-size: 0.14rem;
	 list-style: none;
	 padding-bottom: 0.3rem;
	 margin-bottom: 0.3rem;
	 background-size: 100%;
	 transition: margin-left 0.8s ease;
}
 #essayLeft > ul {
	 font-size: 0;
	 padding: 0 !important;
}
 #essayLeft > ul > li {
	 display: flex;
	 flex-flow: column-reverse;
}
 #essayLeft > ul > li h1 {
	 margin-top: 0.4em;
	 margin-bottom: 0em;
}
 #essayLeft > ul > li:hover .preview > .preview-img {
	 transform: scale(1.08);
}
 .preview {
	 min-width: 6.4rem;
	 height: 140px;
	 margin-top: 0.2rem;
	 border-radius: 6px;
	 box-shadow: 0 0 0 1px #efefef;
	 background-color: #fafafa;
	 overflow: hidden;
}
 .preview .preview-img {
	 display: flex;
	 width: 100%;
	 height: 100%;
	 background-size: cover;
	 background-position: center;
	 transition: all 0.7s;
}
 #essayText > div:nth-child(1) > h1:nth-child(1), #essayText > div:nth-child(1) > h1:nth-child(2) {
	 font-size: 1.68em;
	 font-weight: 600;
	 width: 100vw;
	 max-width: 7.6rem;
}
 #essayLeft > ul:nth-child(1) > li:nth-child(1) {
	 margin-top: 0rem;
}
 .essay-title {
	 font-size: 0.22rem;
	 letter-spacing: 0rem;
	 cursor: pointer;
	 margin-top: 0;
	 font-weight: 600;
}
 #essayLeft > ul > li > p {
	 font-weight: lighter;
	 cursor: text;
	 display: -webkit-box;
	 -webkit-box-orient: vertical;
	 -webkit-line-clamp: 2;
	 overflow: hidden;
}
 #essayText > div {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 #essayText > div:nth-child(1) > p {
	 font-size: 0.16rem;
}
 #essayText > div > h1.essay-title {
	 margin-top: 0.3rem;
	 margin-bottom: 0.1rem;
}
 ._banner + h1 {
	 width: 100vw;
	 max-width: 7.6rem;
	/* margin-left: calc(50vw - 4rem);
	 */
}
 ._banner + h1 + span + span + div.essay-context, ._banner + h1 + span._date {
	 width: 100vw;
	 max-width: 7.6rem;
	/* margin-left: calc(50vw - 4rem);
	 */
}
 #essayText > div > span._date {
	 width: 100vw;
	 max-width: 7.6rem;
	/* margin-left: calc(50vw - 4rem);
	 */
}
 .summary {
	 display: flex;
	 color: #737373;
	 font-size: 0.2rem;
	 font-weight: lighter;
}
 .summary > p {
	 margin-top: 0.4em;
}
 ._banner {
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-clip: content-box;
	 top: 0;
	 left: 0;
	 width: 100vw;
	 height: 400px;
	 background-position: center;
	 background-color: #f1f1f1;
}
 ._banner::after {
	 content: '';
	 display: block;
	 margin-top: 3rem;
}
 ._youtube {
	 border-radius: 0.06rem;
	 background-color: #f1f1f1;
}
 ._date, ._tags, ._updated {
	 text-transform: uppercase;
	 font-size: 0.14rem;
	 color: #bababa;
	 font-weight: lighter;
}
 .essay-hr {
	 margin: 0.5rem 8rem 0.5rem 0;
	 display: flex;
	 align-items: center;
}
 .essay-hr .essay-end-tip {
	 border-top: 0.01rem solid #ededed;
	 border-bottom: 0.01rem solid #ededed;
	 color: #c6c6c6;
	 font-weight: lighter;
	 padding: 0.2rem 0;
}
 .essay-hr ._tags {
	 display: flex;
	 font-size: 0.14rem;
	 margin-left: 0.2rem;
	 width: 1.6rem;
}
 .essay-hr ._tags > em {
	 margin-right: 0.05rem;
	 color: #0cb691;
}
 .essay-hr ._tags > span {
	 display: block;
}
 ._updated {
	 display: none;
	 color: #fff;
	 transition: color 0.2s;
}
 ._updated:hover {
	 color: #9c9c9c;
}
 ._date::before, ._tags::before {
	 width: 0.19rem;
	 height: 0.19rem;
	 display: flex;
}
 #essayRight {
	 display: none;
	 position: fixed;
	 width: 3rem;
	 height: 4rem;
	 background-color: #f7f7f7;
	 margin-left: 8.6rem;
	 top: 2rem;
}
 #essayText {
	 background-color: rgba(255, 255, 255, 0.94);
	 width: 100vw;
	/*900*/
	 position: absolute;
	 z-index: 4;
	 display: flex;
	 flex-direction: row-reverse;
	 font-size: 0.16rem;
	 justify-content: center;
}
 div.essay-context > p {
	 color: #323232;
	 line-height: 1.4em;
}
 #essayClose {
	 background-color: rgba(255, 255, 255, 0.39);
	 cursor: pointer;
	 position: fixed;
	 width: 0.5rem;
	 height: 0.5rem;
	 top: 0.63rem;
	 right: 0.5rem;
	 background-image: url('/icon/essay/close.svg');
	 transform: scale(0, 0);
	 transition: transform 0.4s;
}
/*换页*/
 #pages > ul {
	 padding-left: 0;
	 display: flex;
	 flex-direction: row;
	 opacity: 1;
	 transition: opacity 0.5s;
	 margin: 0.2rem 0 0.2rem 0;
}
 .onPage {
	 background-color: black;
	 color: white;
}
 #pages > ul > li {
	 justify-content: center;
	 align-items: center;
	 display: flex;
	 padding: 0 0;
	 width: 0.3rem;
	 height: 0.3rem;
	 margin-right: 0.1rem;
	 transition: background-color 0.5s, color 0.5s;
}
 #pages > ul > li:hover {
	 color: white;
	 background-color: black;
}
/*otherInfo*/
 #otherInfo {
	 display: none;
	 width: 100vw;
	 height: 1.2rem;
	 background-color: black;
	 position: absolute;
	 left: 0;
	 top: 0;
	 margin-top: 100vh;
}
/*gallery*/
 @media screen and (min-width: 1700px) {
	 .gallery-link {
		 width: calc(100% / 7) !important;
		 height: calc(100% / 7) !important;
	}
}
 @media screen and (min-width: 2000px) {
	 .gallery-link {
		 width: calc(100% / 8) !important;
		 height: calc(100% / 9) !important;
	}
}
 @media screen and (min-width: 3000px) {
	 .gallery-link {
		 width: calc(100% / 9) !important;
		 height: calc(100% / 9) !important;
	}
}
 #gallery {
	 min-height: 3.45rem;
	 flex-direction: row;
	 flex-wrap: wrap;
	 font-size: 0;
	 width: 100vw;
	 padding-top: 0.3rem;
	 position: fixed;
	 column-span: all;
	 column-gap: 0px;
	 padding-bottom: 0.5rem;
	 transform: translateY(0);
	 transition: transform 0.3s;
	 left: 0;
}
 .gallery-preview {
	 outline: none !important;
	 display: inline-block;
}
 .gallery-link {
	 width: calc(100% / 5);
	 display: inline-flex;
	 position: relative;
	 animation: gallery-overlay 0.4s;
	 overflow: hidden;
	 background-position: center;
	 background-clip: content-box;
	 background-repeat: no-repeat;
	 overflow: hidden;
	 background-size: cover;
}
 .gallery-link::before {
	 content: '';
	 display: block;
	 margin-top: 100%;
}
 .gallery-none {
	 display: none !important;
}
 @keyframes gallery-overlay {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 .gallery-overlay {
	 color: #fff;
	 display: none;
	 height: 100%;
	 width: 100%;
	 opacity: 1;
	 animation: gallery-overlay 0.4s;
	 position: absolute;
	 background-image: url("../icon/gallery/overlay.png");
	 background-color: #353535b3;
}
 .gallery-mutil-img {
	 display: inline-block;
	 width: 15px;
	 height: 15px;
	 background-color: rgba(0, 0, 0, 0.822);
	 font-size: 14px;
	 color: #ffffffb3;
	 padding: 0.05rem 0.05rem;
	 text-align: center;
	 right: 0;
	 opacity: 0.5;
}
 .gallery-title, .gallery-tags, .gallery-description {
	 padding: 0 0.1rem;
}
 .gallery-title {
	 margin: 0.2rem 0.1rem 20px 0.1rem;
	 font-size: 22px;
	 text-align: left;
}
 .gallery-description {
	 margin: 0rem 0.1rem 20px 0.1rem;
	 display: block;
	 opacity: 0.7;
	 font-size: 16px;
	 text-align: left;
	 font-weight: lighter;
}
 .gallery-tags {
	 white-space: nowrap;
}
 .gallery-tag {
	 color: white;
	 font-size: 16px;
	 padding: 0.06rem 0.06rem;
	 margin: 0.04rem 0.04rem;
	 border: 0.01rem solid rgba(221, 221, 221, 0.17);
	 border-radius: 5px;
}
 .gallery-tag:hover {
	 background-color: #fff 4d;
}
 .gallery-tag > em {
	 padding: 2px 2px;
}
 .gallery-toggle-tags {
	 display: flex;
	 font-size: 0.16rem;
	 margin-top: -0.6rem;
	 position: absolute;
	 white-space: nowrap;
}
 .toggle-tag {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 width: 100%;
	 color: #a2a2a2;
	 font-size: 0.16rem;
	 padding: 0.04rem 0.08rem;
	 margin: 0.04rem 0.04rem 0.04rem 0.2rem;
	 border: 1px solid #efefef;
	 cursor: pointer;
	 border-radius: 0.05rem;
}
 .toggle-tag::before {
	 content: '#';
	 width: 0.14rem;
	 display: block;
	 justify-content: center;
	 align-content: center;
}
 .toggle-tag::after {
	 content: url("../icon/gallery/delete.svg");
	 width: 0.14rem;
	 height: 0.14rem;
	 display: block;
	 justify-content: center;
	 align-content: center;
	 transform: scale(0.45, 0.45);
	 position: relative;
	 margin-left: 10px;
}
 #galleryContext {
	 font-size: 0.18rem;
}
 #galleryContext > div {
	 display: flex;
	 flex-direction: column;
}
 #galleryContext > div .gallery-imgs {
	 z-index: 1;
	 position: relative;
	 background-color: #131313;
	 width: 100%;
	 transition: all 0.2s;
	 justify-content: center;
	 align-items: center;
	 display: flex;
	 flex-direction: column;
}
 #galleryContext > div .gallery-imgs .gallery-img {
	 max-width: 100%;
	 max-height: 100%;
	 outline: none !important;
	 box-shadow: 0 0 16px 0 #000 24;
}
 #galleryContext > div .gallery-right-background {
	 z-index: 1;
	 position: static;
	 padding: 0.2rem;
	 -moz-padding-end: calc(.2rem + 17px);
	 background-color: white;
	 box-shadow: 0 0 16px 0 #000 24;
}
 #galleryContext > div .gallery-right-background .gallery-full-page {
	 display: none;
}
 #galleryContext > div .gallery-right-background .gallery-right {
	 transition: all 0.2s;
	 transform: translateY(0);
}
 #galleryContext > div .gallery-right-background .gallery-right #mixxopost {
	 display: flex;
	 flex-direction: column-reverse;
}
 #galleryContext > div .gallery-right-background .keyboard-tip {
	 display: none;
}
 @media screen and (min-width: 920px) {
	 #galleryContext {
		 position: fixed;
		 top: 0;
	}
	 #galleryContext > div {
		 flex-direction: row;
	}
	 #galleryContext > div .gallery-imgs {
		 position: absolute;
		 width: calc(100vw - 400px);
		 height: calc(100vh - 0.46rem);
		 flex-direction: row;
	}
	 #galleryContext > div .gallery-imgs .gallery-page {
		 width: calc(100vw - 400px);
		 top: calc(100vh - 0.46rem);
	}
	 #galleryContext > div .gallery-imgs .gallery-img::nth-child(1) {
		 margin-top: 0.46rem;
	}
	 #galleryContext > div .gallery-right-background {
		 z-index: 1;
		 position: fixed;
		 right: 0;
		 padding: 0 2%;
		 height: 100vh;
		 top: 0;
		 width: 400px;
	}
	 #galleryContext > div .gallery-right-background .gallery-full-page {
		 display: flex;
		 justify-content: center;
		 width: 0.4rem;
		 height: 0.4rem;
		 background-color: #fff;
		 margin-left: -1rem;
		 position: absolute;
		 margin-top: 0.2rem;
	}
	 #galleryContext > div .gallery-right-background .gallery-full-page::before {
		 content: url(/icon/gallery/full-page.svg);
		 width: 0.16rem;
		 margin-top: 0.1rem;
	}
	 #galleryContext > div .gallery-right-background .img-pre {
		 display: flex;
		 justify-content: center;
		 width: 0.4rem;
		 height: 0.4rem;
		 background-color: #fff;
		 margin-left: -1rem;
		 position: absolute;
		 margin-top: 0.8rem;
	}
	 #galleryContext > div .gallery-right-background .img-pre::before {
		 content: url(/icon/gallery/up.svg);
		 width: 0.16rem;
		 margin-top: 0.1rem;
	}
	 #galleryContext > div .gallery-right-background .img-next {
		 display: flex;
		 justify-content: center;
		 width: 0.4rem;
		 height: 0.4rem;
		 background-color: #fff;
		 margin-left: -1rem;
		 position: absolute;
		 margin-top: 1.2rem;
	}
	 #galleryContext > div .gallery-right-background .img-next::before {
		 content: url(/icon/gallery/down.svg);
		 width: 0.16rem;
		 margin-top: 0.1rem;
	}
	 #galleryContext > div .gallery-right-background .gallery-right {
		 transform: translateY(0);
	}
	 #galleryContext > div .gallery-right-background .keyboard-tip {
		 height: 0.8rem;
		 background-color: #f7f7f7;
		 width: 100%;
		 justify-content: center;
		 align-items: center;
		 display: flex;
		 flex-direction: column;
		 position: absolute;
		 left: 0;
		 bottom: 0;
		 border-top: 1px solid #efefef;
	}
	 #galleryContext > div .gallery-right-background .keyboard-tip > ul {
		 padding: 0;
		 margin: 6px 0;
		 display: flex;
		 list-style: none;
		 flex-direction: row;
		 font-size: 12px;
	}
	 #galleryContext > div .gallery-right-background .keyboard-tip > ul li {
		 color: #bbbaba;
		 justify-content: center;
		 align-items: center;
		 display: flex;
		 margin: 0 4px;
	}
	 #galleryContext > div .gallery-right-background .keyboard-tip > ul li span.keyboard-tip-li {
		 color: #828282;
		 border: 1px solid #e0e0e0;
		 width: 0.24rem;
		 height: 0.24rem;
		 box-shadow: inset 0px -5px 0px 0px #f1f1f1;
		 text-align: center;
		 border-radius: 4px;
		 background-color: white;
		 margin: 0 2px;
	}
	 #galleryContext > div .gallery-right-background .keyboard-tip > ul li span.keyboard-tip-text {
		 padding-left: 2px;
	}
}
 @media screen and (min-width: 1092px) {
	 #galleryContext > div .gallery-imgs {
		 width: calc(100vw - 400px);
		 margin-left: calc((10.92rem - 100vw)/2);
	}
	 #galleryContext > div .gallery-imgs .gallery-page {
		 width: calc(100vw - 400px);
	}
}
 @media screen and (min-width: 1600px) {
	 #galleryContext > div .gallery-imgs {
		 width: calc(100vw - 400px);
		 margin-left: calc((10.92rem - 100vw)/2);
	}
	 #galleryContext > div .gallery-imgs .gallery-page {
		 width: calc(100vw - 400px);
	}
	 #galleryContext > div .gallery-right-background {
		 width: 400px;
	}
	 #galleryContext > div .gallery-right-background #mixxopost {
		 font-size: 16px;
	}
}
 .gallery-page {
	 height: 0.46rem;
	 justify-content: space-between;
	 position: fixed;
	 z-index: 1;
	 display: flex;
	 top: 0;
	 background-color: #191919;
	 box-shadow: 0 0 16px 0 #000 24;
	 width: 100%;
	 left: 0;
	 transition: all 0 s;
}
 .gallery-page div {
	 cursor: pointer;
	 width: 100%;
	 font-size: 0.14rem;
	 display: flex;
	 align-items: center;
	 color: #4a4a4a;
}
 .gallery-page div span {
	 transition: all 0.2s;
}
 .gallery-page div span::before {
	 content: attr(data-title);
	 position: absolute;
	 margin-top: 0.18rem;
	 color: #737373;
}
 .gallery-page div img {
	 width: 0.34rem;
	 height: 0.1rem;
	 transition: all 0.3s;
}
 .gallery-page div span {
	 margin: 0.04rem 0 0.2rem 0;
}
 .gallery-page div img {
	 margin: 0.04rem 0 0.2rem 0;
	 opacity: 0.3;
}
 .gallery-page div:hover img {
	 opacity: 1;
}
 .gallery-page .gallery-next {
	 justify-content: flex-end;
}
 .gallery-page .gallery-next span::before {
	 right: 1.26rem;
}
 .gallery-page-tip {
	 background-color: #fcab1d;
	 color: white;
	 font-size: 0.12rem;
	 max-width: 0.92rem;
	 min-width: 0.92rem;
	 width: 100%;
	 justify-content: center;
	 align-items: center;
	 display: flex;
}
 .gallery-page-tip .gallery-page-tip-num {
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 color: #fffbf4;
	 overflow: hidden;
}
 .gallery-page-tip .gallery-page-tip-num ul {
	 height: 100%;
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 transition: transform 0.2s;
}
 .gallery-page-tip .gallery-page-tip-num ul li {
	 justify-content: center;
	 align-items: center;
	 display: flex;
	 height: 0.46rem;
}
 .gallery-page-tip .gallery-page-tip-sum {
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 color: #ffe1ae;
}
 .gallery-page-tip .gallery-page-tip-sum::before {
	 content: '/';
	 display: block;
	 position: absolute;
	 margin-left: -0.23rem;
	 color: #ffe1ae;
}
 .gallery-background {
	 position: fixed;
	 top: 0;
	 left: 0;
	 height: 100vh;
	 width: 100vw;
	 background-color: #212121;
}
 .footer {
	 display: none;
	 justify-content: space-between;
	 align-items: center;
	 font-size: 0.12rem;
	 position: absolute;
	 z-index: 9;
	 width: 100vw;
	 bottom: 0;
	 color: #757575;
	 height: 80px;
	 background: #fff;
	 margin-bottom: -80px;
}
 .footer > div:nth-child(1) {
	 margin-left: 0.4rem;
}
 .footer div:nth-child(2) {
	 margin-right: 0.4rem;
	 display: flex;
	 font-weight: bold;
}
 .footer div:nth-child(2) > div {
	 margin-right: 0.2rem;
	 transition: all 0.2s;
}
 .footer div:nth-child(2) > div:hover {
	 color: #eee;
}
 ._banner + .essay-title + ._date + .essay-context > .footer {
	 position: initial;
}
 @media screen and (min-width: 760px) {
	 .essay-context > .footer {
		 margin-left: calc((7.6rem - 100vw) / 2);
	}
}
 #essayLeft > .footer {
	 position: initial;
	 margin-left: calc((6.4rem - 100vw) / 2);
}
 @media screen and (min-width: 920px) {
	 .gallery-full-page-right {
		 transform: translateX(100%);
		 transition: all 0.2s;
	}
	 #galleryContext > div > .gallery-imgs > .gallery-full-page {
		 width: 100%;
	}
	 #galleryContext > div > .gallery-full-page-imgs {
		 width: 100vw;
	}
	 .hidden {
		 display: none !important;
	}
	 .footer {
		 display: flex;
	}
}
 