@import url('./markdown.css');

/* 1366X768
*/
::-webkit-scrollbar{
    display:none;
  }


html,body{  
    font-family:"Microsoft YaHei","微软雅黑",sans-serif!important;    
    background-color: white;
    height: 100%;
    margin: 0 0;
}

/*body 100vw后元素不会随滚动条变动,但会出现横向滚动*/
body{ 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow-x:hidden;
    text-shadow: 0px 0px 0.2px #9c9c9c;
    
   }

#ajaxProgress{
    z-index: 6;
    position: fixed;
    width: 100vw;
    height: 0vh;
    left: 0;
    top: 0;
    background-color:rgba(0,0,0,0);
    transition: background-color 0.8s;
}
#main{
    transition: transform 0.2s;
    width: 1016px;
    min-height: 645px;
    height: 100vh;
    background-color: rgb(255, 255, 255);  
}




/*导航*/
#navigation{
    padding-left: 107px;
    height: 120px;
    width: 100vw;
    z-index: 2;
    background-color:#fff; 
    position: fixed;
    transform:translateY(0px);
    transition: transform 0.2s;
}
#navigation ul{
    display: flex;
    height: 120px;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 650px;
    background-color: #fff;
}
.nav-block{
    z-index: 5;
    position: absolute;
    display: block;
    width: 20px;
    height: 4px;
    margin-top: 14px;
    margin-left: 65px;
    background-color: black;
    transition: margin-left 0.4s;
}
#navigation>ul li{
    width: 130px;
   
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    
    align-items: center;
}

.nav-span{
    font-size: 12px;
    margin-top: 0px;
    margin-left: -40px;
    color: #7f7f7f;
    opacity:0;
    transition: margin-top 0.2s,opacity 0.2s;
}

#navigation>ul li:hover div.nav-span{
    opacity:1;
    margin-top: 10px;

}

#navigation>ul> li a{
    cursor: pointer;
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
#navigation>ul> li:hover{
    background-color: rgb(255, 255, 255);
    color: white;
}


/* height: 350px;*/
#allContext{
    margin-top: 120px;
    background-color:rgb(255, 255, 255); 

}


/*---------首页动画+内容--------------*/
#h{
    height: 100%;
    width: 50%;
    background-color: #fff;
    margin-left: 400px
}

#s{
    z-index: 4;
    position: absolute;
    margin-top: 300px;
    margin-left: 400px;
}

#triangle,#triangleRGB,#gray,#line{
  position: absolute;
  
}
#triangle{
 z-index: 3;
 margin-left: -20.5px;
 margin-top: -3px;
 
}
#triangleRGB{
    z-index: 2
}
#gray{
z-index: 1;
margin-left: 50px;
margin-top: 12px;
}


/*----------*/
#Personal{
    margin-top: 120px;
    position: absolute;
}

#logo::after{
    display: block;
    position: absolute;
    content: '';
    width: 10px;
    height: 4px;
    background-color: black;
    margin-top: -32px;
    margin-left: 90px;
}
#name{
    margin-top: 24px;
}
#year{
    margin-top: 15px;
}
#say{
    margin-top: -6px;
}
#link{
    margin-top: 24px;
    display: flex;
}
#github,#more,#mail{
    width: 30px;
    height: 30px;
}
#github{
    border-radius: 20px;
    background-color: #70a0db;
}
#github>a{
    position: absolute;
    width: 30px;
    height: 30px;
}
#github>img{
    margin-left: 0.4px;
    position: absolute;
    width: 30px;
    height: 30px;
}
#meow{
    position: absolute;
    border-radius: 4px;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 14px;
    opacity: 0;
    text-align: center;
    justify-content: center;
    transform: scale(0,0) translateY(0);
    transition: transform 0.2s;
    
}
#meow::before{
    position: absolute;
    margin-top: -9px;
    margin-left: 5px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-radius: 5px;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    
}
#more{
    border-radius: 20px;
    margin-left: 16px;
    background-color: #fcab1d; 
    
}
#more>img,#more>a{
    position: absolute;
    width: 30px;
    height: 30px;
}
#mail{
    border-radius: 20px;
    margin-left: 16px;
    background-color: #fc1d1d;
}
#atMe{
    position: absolute;
    border-radius: 4px;
    display: block;
    padding: 1px 2px;
    margin-top: 30px;
    margin-left: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 14px;
    opacity: 0;
    text-align: center;
    justify-content: center;
    transform: scale(0,0) translateY(0);
    transition: transform 0.2s;
    
}
#atMe::before{
    position: absolute;
    margin-top: -9px;
    margin-left: 5px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-radius: 5px;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    
}
#mail>img,#mail>a{
    position: absolute;
    width: 30px;
    height: 30px;
}

/*keyfranme_动画*/
#L_1{ transform-origin: 10px 10px;}
#L_2{ transform-origin: 20px 10px;}
#head{transform-origin: 15px 22px;} /**/
#L_3{ transform-origin: 13px 24px;}
#body{transform-origin: 15px 31px;}
#mouth{opacity: 0}

/*github*/
@keyframes githubIcon_head{
    0%{transform: scale(1,1)}
    50%{transform: scale(1,1.1)}
    100%{transform: scale(1,1)} 
}
@keyframes githubIcon_L_1 { 
    0%{transform: rotate(0deg)}
    50%{transform: rotate(30deg)}
    100%{transform: rotate(0deg)} 
}
@keyframes githubIcon_L_2 {
    0%{transform: rotate(0deg)}
    50%{transform: rotate(60deg)}
    100%{transform: rotate(0deg)} 
}
@keyframes githubIcon_L_3 {
    0%{transform: rotate(0deg)}
    50%{transform: rotate(-20deg)}
    100%{transform: rotate(0deg)} 
}

@keyframes mouth{
    0%{transform: scale(0,1);opacity: 1}
    50%{transform: scale(1,1);opacity: 1}
    100%{transform: scale(0,1);opacity: 1} 
}

#github:hover #meow{
    transform: scale(1,1) translateY(10px);
    opacity: 0.5;
}
#github:hover #head{
    animation:githubIcon_head 0.7s ease-in-out;
    animation-iteration-count: 1;
}
#github:hover #L_1{
    animation:githubIcon_L_1 0.2s 0.8s;
    animation-iteration-count: 1;
}
#github:hover #L_2{
    animation:githubIcon_L_2 0.2s 1s;
    animation-iteration-count: 1;
}
#github:hover #L_3{
    animation:githubIcon_L_3 1s ease-in-out;
    animation-iteration-count: 1;
}
#github:hover #mouth{
    animation:mouth 1s ease-in-out;
    animation-iteration-count: 1;
}

/*more*/
#M_1{transform-origin: 11px 11px}
#M_2{transform-origin: 19px 11px}
#M_3{transform-origin: 19px 19px}
#M_4{transform-origin: 11px 19px}

@keyframes M_1{
    0%{transform: translatX(0,0) rotate(0deg)}
    12.5%{transform: translate(0) rotate(45deg)}
    25%{transform:translate(0) rotate(45deg)}
    37.5%{ttransform: translate(4px,0) rotate(45deg)}
    50%{transform: translate(4px,0) rotate(45deg)}
    62.5%{transform: translate(4px,-2px) rotate(45deg)}
    75%{transform: translate(4px,-2px) rotate(45deg)}
    87.5%{transform: translate(4px,-1px) rotate(45deg)}
    100%{transform: translate(0,0) rotate(0deg)}
}
@keyframes M_2{
    0%{transform: translatX(0,0) rotate(0deg)}
    12.5%{transform: translate(0) rotate(45deg)}
    25%{transform:translate(0) rotate(45deg)}
    37.5%{ttransform: translate(0,4px) rotate(45deg)}
    50%{transform: translate(0px,4px) rotate(45deg)}
    62.5%{transform: translate(2px,4px) rotate(45deg)}
    75%{transform: translate(2px,4px) rotate(45deg)}
    87.5%{transform: translate(1px,4px) rotate(45deg)}
    100%{transform: translate(0,0) rotate(0deg)}
}
@keyframes M_3{
    0%{transform: translatX(0,0) rotate(0deg)}
    12.5%{transform: translate(0) rotate(45deg)}
    25%{transform:translate(0) rotate(45deg)}
    37.5%{ttransform: translate(-4px,0) rotate(45deg)}
    50%{transform: translate(-4px,0) rotate(45deg)}
    62.5%{transform: translate(-4px,2px) rotate(45deg)}
    75%{transform: translate(-4px,2px) rotate(45deg)}
    87.5%{transform: translate(-4px,1px) rotate(45deg)}
    100%{transform: translate(0,0) rotate(0deg)}
}
@keyframes M_4{
    0%{transform: translatX(0,0) rotate(0deg)}
    12.5%{transform: translate(0) rotate(45deg)}
    25%{transform:translate(0px) rotate(45deg)}
    37.5%{ttransform: translate(0,-4px) rotate(45deg)}
    50%{transform: translate(0px,-4px) rotate(45deg)}
    62.5%{transform: translate(-2px,-4px) rotate(45deg)}
    75%{transform: translate(-2px,-4px) rotate(45deg)}
    87.5%{transform: translate(-1px,-4px) rotate(45deg)}
    100%{transform: translate(0px,0px) rotate(0deg)}
}

#more:hover #M_1{
    animation:M_1 1.4s ease-in-out 0s;
    animation-iteration-count: 1;
}
#more:hover #M_2{
    animation:M_2 1.4s ease-in-out 0s;
    animation-iteration-count: 1;
}
#more:hover #M_3{
    animation:M_3 1.4s ease-in-out 0s;
    animation-iteration-count: 1;
}
#more:hover #M_4{
    animation:M_4 1.4s ease-in-out 0s;
    animation-iteration-count: 1;
}

/*mail*/
@keyframes block{
    0%{transform: scale(1,1)}
    33%{transform: scale(0.5,1.4)}
    66%{transform: scale(1.4,0.5)}
    100%{transform: scale(1,1)}
}
@keyframes line {
    0%{transform: scale(1,1)}
    33%{transform: scale(1.4,0.8)}
    66%{transform: scale(0.8,1.4)}
    100%{transform: scale(1,1)}
}
#mail:hover #block{
    animation:block 1s ease-in-out 0s;
    animation-iteration-count: 1;
}
#mail:hover #line{
    animation:line 1s ease-in-out 0s;
    animation-iteration-count: 1;
}
#mail:hover #atMe{
    transform: scale(1,1) translateY(10px);
    opacity: 0.5;
}


/*最后的post*/
/*通过translateZ开启GPU较少旋转后的锯齿*/
#lastPost{
    transform-origin: 0 0;
    position: absolute;
    transform: rotate(90deg) translateZ(0);
    margin-top: 82px;
    margin-left: 1015px
}
#lastPost span:nth-child(1){
    font-size: 16px;
    font-weight: bold;
}
#lastPost span:nth-child(3){
    opacity: 0.1
}

/**/
/**/
#allContext{
    opacity: 0;
    animation: opacityTwo ease 1s;
    animation-fill-mode: forwards;
}
@keyframes opacityTwo{
    from{opacity: 0}
    to{opacity: 1}
}


/*eassay 随笔----------------*/
#foot{
    position: absolute;
    z-index: 5;
    transform: translateY(350px)
}
#essay{
    display: flex;
    flex-direction: column;
    position: absolute;;
    width: 980px;
}
#essayLeft{
    padding-left:96px;
    width: 720px;
}
#essayLeft li{
    list-style: none; 
    padding-bottom: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    margin-bottom:20px;
    
}

#essayLeft > ul > li{
    display: flex;
}

#essayText > div:nth-child(1) > h3:nth-child(1),#essayText > div:nth-child(1) > h3:nth-child(2){
    font-size: 1.68em;
    font-weight: 600;
}

.essay-title {
    font-size:28px;
    letter-spacing:2px;
    cursor: pointer;
    margin-top: 0;
    font-weight: 500;
    
}
#essayText > div:nth-child(1) > h3.essay-title,#essayText > div:nth-child(1) > span._date,#essayText > div:nth-child(1) > span._tags{
  /*  margin-left: calc(50vw - 340px);*/
}
#essayLeft > ul > li > p{  
    font-weight: lighter;
    cursor: text;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
#essayText > div:nth-child(1) > p{
    font-size: 18px;
}
.essay-context{
    width: 680px;
    margin-top: 20px;
}
#essayText > div > h3.essay-title{
    margin-top: 30px;
}
._banner + h3 + span + span + div.essay-context,
._banner + h3,
._banner + h3 + span._date
{
    margin-left: calc(50vw - 340px);
}
.preview-img{
    background-size:cover;
    background-color: red;
    margin-right: 40px;
    min-width:300px;
    height: 150px;
    background-position: center; 
}
._banner{
    background-size:cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    top:0;
    left: 0;
    width: 100vw;
    height:300px;
    background-position: center;
    background-color:rgb(241, 241, 241);
    
}

._youtube{
    border-radius:6px;
    background-color:rgb(241, 241, 241)
}

._date,._updated{
    letter-spacing: 2px;
}
._date,._tags,._updated{
    font-size: 14px;
    color: #9c9c9c;
}
._tags{
    margin-left: 20px;
    width: 160px;
    font-size: 14px;
    color: #9c9c9c;
    font-weight: lighter;
}



._updated{
    display: none;
    color: #fff;
    transition: color 0.2s;
}
._updated:hover{
    color: #9c9c9c;
}

._date::before,._tags::before{
    width:19px;
    height: 19px;
    display: flex;
}
.date::before{
  /*  content: url('/public/icon/essay/date.svg');*/
}
._tags::before{
   /* content: url('/public/icon/essay/folder.svg');*/
}


#essayRight{
    position: fixed;
    width: 196px;
    height: 400px;
    background-color: #f7f7f7;
    margin-left: 860px;
}

#essayText {
    background-color: rgba(255, 255, 255,0.94);
    width: 100vw;/*900*/
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    font-weight: lighter;
    justify-content: center;
   
}

#essayClose{
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    top:63px;
    right: 50px;
    background-image: url('/icon/essay/close.svg');
    transform: scale(0,0);
    transition:transform 0.4s;
}


/*换页*/
#pages > ul{
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: opacity 0.5s;
}

.onPage{
    background-color: black;
    color: white;
}
#pages > ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    width: 30px;
    height: 30px;
    border:1px solid black;
    margin-right: 10px;
    transition: background-color 0.5s,color 0.5s;
}

#pages > ul > li:hover{
    color:white;
    background-color: black;
}

