.mixxo-post{
    width: 100%;/**/
    background: rgb(255, 255, 255);
    border: 1px solid #ededed;
    transition: all .3s;
}
@media screen and (max-height:7.6rem){
    .mixxo-post{
        display: flex;
        flex-direction: column;
    }
}
#galleryContext .mixxo-post{
    right: 0;
    margin-right: .4rem;
    position: fixed;
    z-index: 100;
    font-size: 0px;
    width: 30%;
    display: block;
    height: 2rem;
}

#mp-name{

}
#mp-email{

}
#mp-website{

}
#mp-comment{

}
section.mixxo-post > section.mixxo-user-info{
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed #ededed;
    overflow: hidden;
}


section.mixxo-post > section.mixxo-user-info > div{
    height:36px;
    width: 33.33%;
    padding:10px 20px;
}
.mp-label-trans{
    transform: scale(.8) translateY(-10px);
}
.mp-ui-pt{
    padding-top: 10px;
}
.mp-label{
    line-height: 36px;
    color: rgb(117, 117, 117);
    font-size: .14rem;
    position: absolute;
    transform-origin: left;
    transition: transform .2s;
}
.mp-info{
    height: 36px;
    outline: 0;
    border: 0;
    width: 100%;
    transition: padding .2s;
}
section.mixxo-post > section:nth-child(2) > form{
    padding: 10px;
}
section.mixxo-post > section:nth-child(3) {
    text-align: right;
}
#mp-comment{
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: .14rem;  
    min-height: 36px;
    height: auto;
    outline: 0;
    padding: 0;
    resize: none;
    overflow: auto;
    word-wrap: break-word;
    
}
#mp-post{
    width: 80px;
    height: 40px;
    background-color: rgb(0, 0, 0);  
    color: white;
    border: 0;
}
