#foot{
    position: fixed;
    left: 0;
    transform: translateY(-1.6rem);
    bottom: 0;

}
#mp3Player{
   margin-top: .54rem;
   animation: mp3Player ease-in-out 0.5s;
   opacity: 1;
   background-color: white;
}

@keyframes mp3Player{
    from{opacity: 0}
    to{opacity: 1}
}
#visual{
    z-index: 2;
    transform: scale(0.4,0.4);
    position: absolute;
    margin-top: -.32rem;
    margin-left: 3.60rem;
}

#ToShow,#lineTo,#playCtrShade,#timePass{
    display: none;
    font-size: 0px;
}
#playCtr{
    z-index: 1;
    position: absolute;
    margin-top: .16rem;
    left: .20rem;
    width: .50rem;
    height: .50rem;
    transform: scale(0.8,0.8);
    cursor: pointer;
    
}

/*hover动画*/

/*进度条*/
#progress{
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
    margin-top: .72rem;
    width: .86rem;
    height: .36rem;
    overflow:hidden;
    transition: width 0.2s;
}

#audioProgressA,#audioProgressB,#timePass{
    position: absolute;
}
#audioProgressA{
    z-index: 1;
    height: .06rem;
    background-color: rgb(241, 241, 241)
}
#audioProgressB{
    background-color: rgb(134, 67, 179);
    height: .06rem;
}

#mp3Player:hover #VP{
    width:5.9rem;
}
#VP{
    overflow: hidden;
    width: .16rem;
    position: absolute;
    left: 0;
    padding:.14rem 0rem;
    padding-left: .86rem;
    box-shadow: 0 0 0 1px rgb(228, 228, 228);
    background-color: white;
    transition: width 0.4s;
}

#playList{
    border: 0rem solid royalblue;
    text-overflow: clip;
    overflow: hidden;
    width: 4.56rem;
    height: .50rem;
}
#playList::after{
    content: 'END';
    font-size: .14rem;

}
#playList::before{
    display: block;
    z-index: 1;
    content: '';
    position: absolute;
    margin-top: .24rem;
    width: 4.56rem;
    height: .30rem;
    background:linear-gradient(0deg,white,rgba(255,255,255,0.5));
    transition: height 0.2s,margin-top 0.2s;   
    
}
#playList ol {
    list-style: none;
    margin: 0 0;
    transition:transform 0.2s;
}

#playList li{
    font-weight: 400;
    font-size: .16rem;
    line-height: .22rem; 
}
#playList li:hover{
    cursor: pointer;
}
