
/* 1366X768
*/

html,body{
    font-family:"Microsoft YaHei","微软雅黑",sans-serif!important;
    background-color: white;
    height: 100%;
    margin: 0 0;
   
}

body{
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
     
    width: 1016px;
    height: 645px;
    background-color: rgb(255, 255, 255);
    
}


#allContext{
    height: 324px;;
    background-color:rgb(255, 255, 255); 

}
#rule{
    height: 100%;
    width: 50%;
    background-color: #fff;
}


#foot{
    height: 160px;
    overflow-y: hidden;
    background-color: white;
}

/*导航*/
#navigation{
    padding-left: 107px;
    height: 120px;
    background-color:#fff; 
}
#navigation ul{
    display: flex;
    height: 120px;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #fff;
}
.nav-block{
    position: absolute;
    display: block;
    width: 20px;
    height: 4px;
    margin-top: 14px;
    margin-left: 65px;
    background-color: black;
    transition: margin-left 0.4s;
}
#navigation>ul li{
    width: 125px;
   
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    
    align-items: center;
}

.nav-span{
    font-size: 12px;
    margin-top: 0px;
    margin-left: -40px;
    color: #7f7f7f;
    opacity:0;
    transition: margin-top 0.2s,opacity 0.2s;
}

#navigation>ul li:hover div.nav-span{
    opacity:1;
    margin-top: 10px;

}

#navigation>ul> li a{
    cursor: pointer;
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
#navigation>ul> li:hover{
    background-color: rgb(255, 255, 255);
    color: white;
}

#mp3Player{
    display: flex;
    flex-direction: row;
    margin-top: 110px;

}
#visual{
    position: absolute;
    margin-top: -90px;
    margin-left: -26px;
    
    transform: scale(0.5,0.5)
    
}


#LP{
    margin-left: 6.8%;
    
}
#ToShow{
    position: absolute;
    margin-top: -140px;
    margin-left: -70px;
    
    transform: scale(0.7,0.7)
}

#lineTo{
    position: absolute;
    margin-top: -110px;
    margin-left: -20px;
 
    transform: scale(0.8,0.8)
}
#playCtr{
    z-index: 1;
    position: absolute;
    margin-top: -20px;
    width: 50px;
    height: 50px;
    transform: scale(0.8,0.8);
    cursor: pointer;
    
}
#playCtrShade{
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    transform: scale(0.8,0.8)
}

#progress{
    margin-left: 20%;
    width: 120px;
    height: 36px;
}

#audioProgressA,#audioProgressB,#timePass{
    position: absolute;
}
#audioProgressA{
    width: 120px;
    z-index: 1;
    height: 6px;
    background-color: rgb(230,230,230)
}

#timePass{
    
    width: 120px;
    font-size: 12px;
    
    text-align: right;
    line-height: 24px;
    letter-spacing: 0.2rem;
    margin-top: 1em
}


#VP{
    margin-left: 10.1%;
}

#playList{
    
    border: 0px solid royalblue;
    text-overflow: clip;
    overflow: hidden;
    min-width: 50%;
    height: 60px;
}
#playList::before{
    display: block;
    content: '';
    position: absolute;
    margin-top: 28px;
    min-width: 40%;
    height: 30px;
    background:linear-gradient(0deg,white,rgba(255,255,255,0.5));
    transition: height 0.2s,margin-top 0.2s;
    
    
}
#playList ol {
    
    margin: 0 0;
    transition:margin-top 0.2s;
}

#playList li{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 6px;
    
}
#playList li:hover{
    cursor: pointer;
}


/*---------ajax内容--------------*/
#rgb{
    background-color: rgb(214, 214, 214);
    
}
#red,#green,#blue{
  position: relative;
  display: none;
}
#red{
    background-color: rgb(218, 218, 218)
}
#green{

    background-color: rgb(158, 158, 158)
}
#blue{
   
    background-color: rgb(94, 94, 94)
}