body{
    background-color: rgb(252, 252, 252)
}

#timePass{
    width: 120px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}
#playList li:hover{
    background-color: blue;
}


#progress{
    width: 120px;
    height: 36px;
}
#audioProgressA,#audioProgressB{
    position: absolute;
}
#audioProgressA{
    z-index: 1;
    height: 6px;
    background-color: rgb(230,230,230)
}
