body{
    background-color: rgb(252, 252, 252)
}



#playCtr{
    /*指针消失，可用于图片查看cursor: none*/
}

#progress{
    width: 120px;
    height: 36px;
}

#audioProgressA,#audioProgressB,#timePass{
    position: absolute;
}
#audioProgressA{
    width: 120px;
    z-index: 1;
    height: 6px;
    background-color: rgb(230,230,230)
}

#timePass{
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    line-height: 24px;
    letter-spacing: 0.2rem;
    margin-top: 1em
}

#playList li:hover{
    cursor: pointer;
    background-color: blue;
}