@font-face{
    font-family: 'YH';
    src: ('MicrosoftYaHeiUI-02.tff');
    src: ('MicrosoftYaHeiUI-02.tff') format('truetype')
}


body{
        font-family:"YH" !important;
    }
html,body{
   
    background-color: rgb(252, 252, 252);
    height: 100%;
    margin: 0 0;
}

#main{
    max-width: 80%;
    margin-left: 10%;
    height: 100%
}

#navigation{
    height: 25%;
    background-color:blue; 
}
#allContext{
    height: 50%;
    background-color:rgb(226, 1, 87); 

}
#foot{

}


#mp3Player{
    display: flex;
    flex-direction: row;
    margin-top: 2%;

}
#visual{
    position: absolute;
    margin-top: -100px;
    background-color: beige;
    transform: scale(0.5,0.5)
    
}
#playCtr{
    width: 50px;
    height: 50px;
    transform: scale(0.8,0.8)
    /*指针消失，可用于图片查看cursor: none*/
}

#progress{
    width: 120px;
    height: 36px;
}

#audioProgressA,#audioProgressB,#timePass{
    position: absolute;
}
#audioProgressA{
    width: 120px;
    z-index: 1;
    height: 6px;
    background-color: rgb(230,230,230)
}

#timePass{
    width: 120px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    line-height: 24px;
    letter-spacing: 0.2rem;
    margin-top: 1em
}



#playList{
    font-family: YHB;
    text-overflow: clip;
    overflow: hidden;
    min-width: 50%;
    height: 60px;
}
#playList ol {
    margin: 0 0;
}

#playList li{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 6px;
    
}
#playList li:hover{
    cursor: pointer;
    background-color: blue;
}